body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vmin;
  color: #0E0E0C;
  margin: 0;
}
h1 {
  margin: 0;
  font-weight: 600;
  font-size: 6.7em;
  text-align: right;
}
h2 {
  padding-top: 10.2vmin;
  margin: 0;
  font-weight: 600;
  font-size: 4.4em;
  text-align: center;
}
h3 {
  margin: 0;
  font-weight: 500;
  font-size: 3.3em;
  color: #6D6D6D;
  text-align: center;
}
p {
  margin: 0;
  font-weight: 500;
  font-size: calc(0.6em + 14px);
}
button {
  margin-bottom: 10.2vmin;
  text-decoration: none;
  border: none;
  border-radius: 1.4vmin;
  color: #FFFFFF;
  background-color: #346387;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.1em;
  font-weight: 500;
  padding: 2vmin 5vmin;
}

.offer {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #A1BCD0;
  background-image: url('../img/background.png');
  background-size: cover;
}
.subtitleOffer {
  text-align: right;
  color: #0E0E0C;
}
.divImgOffer {
  height: 60vh;
  margin-left: 8.5vw;
}
.imgOffer {
  max-height: 100%;
  max-width: 83vw;
}
.titlesOffer {
  margin-right: 4.5vw;
  float: right;
}

.description {
  max-width: 100vw;
  margin: 0;
  background-color: #FFFFFF;
  text-align: center;
}
.iconDescription {
  min-width: 50px;
  width: 10vmin;
}
.flexboxDesription {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  margin-left: 7vmax;
  margin-right: 7vmax;
  margin-top: 7.4vmin;
  margin-bottom: 7.4vmin;
}
@media (orientation: portrait) {
  .flexboxDesription {flex-direction: column;}
}
.colDesription {
  flex-basis: 200px;
  flex-grow: 2;
  flex-shrink: 2;
  margin-left: 3.2vmax;
  margin-right: 3.2vmax;
}

.gallery {
  max-width: 100vw;
  margin: 0;
  background-color: #FFFFFF;
  text-align: center;
}
.flexboxGallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  margin-left: 7vmax;
  margin-right: 7vmax;
  margin-top: 7.4vmin;
  margin-bottom: 7.4vmin;
}
.colGallery {
  align-items: center;
  flex-basis: 200px;
  flex-grow: 2;
  flex-shrink: 2;
}
.mainColGallery {
  flex-basis: 400px;
  flex-grow: 2;
  flex-shrink: 2;
}
.mainPhotoGallery {
  width: 100%;
}
.miniPhotoGallery {
  width: 70%;
}
.arrowGallery {
  width: 10%;
}

.contacts {
  max-width: 100vw;
  margin: 0;
  background-color: #A1BCD0;
  text-align: center;
}
.subtitleContacts {
  margin-top: 1vmin;
}
.formContacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  margin-left: 7vmax;
  margin-right: 7vmax;
  margin-top: 3vmin;
  margin-bottom: 3.7vmin;
}
@media (orientation: portrait) {
  .formContacts {flex-direction: column;}
}
.colContacts {
  flex-basis: 200px;
  flex-grow: 2;
  flex-shrink: 2;
  margin-left: 3.2vmax;
  margin-right: 3.2vmax;
}
.contacts p {
  text-align: left;
}
.contacts input {
  width: 100%;
  height: 3.7vmin;
  border: 1px solid #346387;
  outline: none;
  padding-left: 0.5vmin;
  padding-right: 0.5vmin;
  font-family: 'Open Sans', sans-serif;
  font-size: calc(0.6em + 14px);
  color: #0E0E0C;
}
